/* 树表格时icon和文字居中 */
.pt .cell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.pt .cell > div {
  width: 100%;
}
.pt .cell > .el-table__indent + .el-table__placeholder + div {
  width: auto;
}
.pt .center .cell {
  justify-content: center;
}
.pt .right .cell {
  justify-content: flex-end;
}

.pt .cell > .el-table__expand-icon + div {
  width: auto;
}

/* 修改输入框插槽内边距 */
.pt .cell .el-input-group__append,
.pt .cell .el-input-group__prepend {
  padding: 0;
}

/* 隐藏按钮提示 */
.pt .no-tooltip.el-popper.is-dark {
  display: none !important;
}

/* 隐藏过滤 fDatePicker组件的选择框 */
.pt .date_style {
  margin-left: -10px;
  height: 0px !important;
  width: 10px !important;
  z-index: -1;
}

/* 使图标文字垂直居中 */
.pt .el-popover-center {
  display: inline-flex;
  align-items: center;
}

/* 表头点击图标 */
.pt .powerful-table .el-icon.arrow-up {
  animation: ArrowUp 0.2s forwards;
}
.pt .powerful-table .el-icon.arrow-down {
  animation: ArrowDown 0.2s forwards;
}

@keyframes ArrowUp {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes ArrowDown {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0);
  }
}

/* 操作按钮 */
.pt .cell .el-button + .el-button {
  margin-left: 0;
}
.pt .cell .el-button {
  margin: 5px;
}

.pt .content {
  position: relative;
  padding-bottom: 23px;
}
.pt .content > .develop {
  text-align: center;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  );
}

.pt .develop span {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
  cursor: pointer;
}

.pt .develop {
  width: 100%;
  color: var(--el-color-primary);
}

.pt .btnType {
  flex-wrap: wrap;
}

.pt .btnType .btnEach {
  margin-bottom: 5px;
  margin-top: 5px;
}
.pt .btnType .notSpan span {
  display: none;
}
.pt .el-table th.el-table__cell {
  padding: 10px 0 !important;
}
.pt .pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.pt .left {
  justify-content: flex-start;
}

.pt .el-pagination {
  width: auto;
}
